.name{
  padding-left: 20%;
  width:100%;
}
.navbar-brand{
  padding-left: 10px;
}
.navbar{
  background-color: rgb(79.2%,96.9%,89%)
}
li{
  padding-right: 10px;
}
.active{
  background-color: white;
}
.heading{
  text-align:center;
  color: ivory;
}
.name{
  margin-top: 2%;
  padding-top: 20px;
  padding-left: 30%;
  position: 0;
}
.textarea{
  margin-top: 5px;
  color: ivory;
}
.things{
  background-color: black;
}
.form-label{
  color: ivory;
}
.btn{
  border-color: white;
  color: black;
}
.btn:hover{
    background-color: transparent;
    color: white;
}
.link{
  text-align: center;
  background-color:#4a503d;
  padding-bottom: 20px;
  padding-top: 20px;
}
.fa{
  padding:15px;
  padding-left: 2px;
  padding-top: 2%;
}

h4{
  margin-top: 2px;
  margin-left: 41%;
  margin-right: 40%;
  text-align: center;
  color:#b2ab8c;
  padding: 0;
  margin-bottom: 3%;
  font-family:inherit;
  font-style: italic;
  font-weight:bold;
}
.cp{
  margin-top: 1.2%;
}
